rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
  
  	// 기본적으론 모두 비허용
  	match /{document=**} {
      allow read, write: if false;
    } 
  
  	// 로그인 완료된 유저만 posts에 접근 가능
    match /posts/{posts} {
      allow read, write: if request.auth != null 
    }
    
    // 로그인 완료된 유저만 partcipants 하위 컬렉션에 접근 가능
    match /posts/{posts}/participants/{participants} {
      allow read, write: if request.auth != null 
    }
  
  	
    // 인증된 계정이 자신 uid의 정보 읽기, 쓰기만 가능
    match /users/{uid}{ 
    	allow read, write: if request.auth != null;
    }
    
		// 임시 비활성화
  	/*    
    // 자신의 업로드한 post의 participants 하위 컬렉션 접근 허용
    match /posts/{posts}/participants/{userName} {
      allow read, write: if request.auth != null 
      &&
      request.auth.uid == get(/databases/$(database)/documents/posts/$(posts)).data.gatheringPromoterUID;
    }
    */
      
  }
  
}